@import 'atomic-theme';
@import 'atomic-theme/src/_dialog';

html {
  tab-size: 4;
}

[hidden] {
  display: none;
}

.ml-auto {
  margin-left: auto;
}

@media (prefers-color-scheme: dark) {
  input[type='text'],
  textarea,
  select {
    background-color: var(--bg-color);
    color: var(--font-color);
  }
}
