@import 'atomic-theme';
@import 'atomic-theme/src/_dialog';

@media (prefers-color-scheme: dark) {
  input[type='text'],
  textarea,
  select {
    background-color: var(--bg-color);
    color: var(--font-color);
  }
}

html {
  tab-size: 4;
}

.clear {
  border-color: transparent !important;
}

.post-form {
  input[type='text'],
  textarea {
    @extend .clear;
    margin-left: 0.5rem !important;
    max-width: calc(100% - 2rem);

    &:focus {
      box-shadow: none !important;
    }
  }

  select {
    font-size: 14px;
    width: auto;
  }
}

@mixin round-btn($bg: 0, $border: 0) {
  $size: 0.6rem;
  width: $size;
  height: $size;
  border-radius: 50%;
  margin-right: 0.5rem;
  position: relative;
  overflow: hidden;
  @if ($bg != 0) {
    background: $bg;
  }
  @if ($border != 0) {
    border: 1px solid $border;
  }
}

.code-background {
  --gradient-stops: #7303c0, #ec38bc;
  background-image: linear-gradient(to left, var(--gradient-stops));
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin: 1rem auto;

  .toolbar {
    display: flex;
    align-items: baseline;

    label {
      margin: 0;
    }

    & > div {
      margin-right: 1rem;
    }
  }

  .code-window {
    border-radius: 0.5rem;
    margin: 1rem 0 2rem;
    min-height: 40ch;
    padding: 0.5rem 0.5rem 0;

    pre {
      margin: 0;
      padding: 0;
      box-shadow: none;
      padding: 1rem 0.5rem;

      code {
        line-height: 1.5;
        padding: 0;
      }
    }

    .buttons {
      padding: 0.5rem;

      & > div {
        @include round-btn;
      }
    }

    .btn-1 {
      @include round-btn(#ff5d5b, #cf544d);
    }

    .btn-2 {
      @include round-btn(#ffbb39, #cfa64e);
    }

    .btn-3 {
      @include round-btn(#00cd4e, #0ea642);
    }

    .code-wrapper {
      position: relative;
    }

    textarea {
      @extend .clear;
      margin: 0 !important;
      min-height: 40ch;
      white-space: pre-wrap;

      position: absolute;
      inset: 0px;
      padding: 1rem 0.5rem;
      font-family: monospace, monospace;
      font-size: 90%;
      z-index: 1;
      background: transparent;
      border: none;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0);
      outline: none;
      resize: none;
      caret-color: rgb(255, 255, 255);
      overflow: hidden;
    }
  }

  .credits {
    margin-top: 2rem;
    letter-spacing: 0.05em;
    font-size: 16px;
    color: #eee;
    line-height: 1.2;

    .author {
      font-weight: 600;
    }

    .avatar img {
      height: 48px;
      border-radius: 50%;
      border: 2px solid var(--color-lightGrey);

      & + * {
        margin-left: 0.5rem;
      }
    }
  }
}

[hidden] {
  display: none;
}
