.avatar-container {
  position: relative;

  .btn-upload {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    border-color: var(--color-primary);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    transition: 0.2s ease;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &[data-editor='true'] {
    &:hover {
      .btn-upload {
        opacity: 1;
        cursor: pointer;
      }
    }

    .avatar,
    .title {
      cursor: pointer;
    }
  }
}
