.profile-page {
  padding: 0 !important;

  header {
    position: relative;
  }

  .banner {
    height: 150px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin: 0 1rem 190px;
  }

  .user-avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5%);
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar,
    .btn-upload {
      height: 90px;
      width: 90px;
    }

    .title {
      font-size: 2rem;
      font-weight: bold;
      margin: 0.5rem 0 0;
      text-align: center;
    }

    .details {
      margin: 0.25rem 0;
    }
  }

  // editor states
  &[data-active='true'] {
    .banner {
      cursor: pointer;
      transition: 0.2s ease;

      &:hover {
        opacity: 0.8;
      }
    }

    .danger {
      margin-top: 40px;
    }
  }

  .tabs a {
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.033em;
  }
}
