.dropdown-element {
  position: relative;

  button:not(.icon-only) {
    align-items: flex-start !important;

    svg {
      width: 1.25em;
      line-height: 1;
      margin-right: 0;
      margin-left: 0.5rem;
      opacity: 0.8;
    }
  }

  .dropdown-details {
    background-color: var(--bg-color);
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 10;
    transform: scale(1, 1);
    transform-origin: top right;
    transition: 0.1s ease;
    min-width: 14rem;
    border-radius: 0.25rem;
    padding: 0.8rem;

    &[aria-hidden='true'] {
      z-index: 0;
      opacity: 0;
      pointer-events: none;
      transform: scale(0.9);
    }
  }
}
