<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      type="text/css"
      rel="stylesheet"
      href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />
  </head>

  <body>
    <h1>Hello World</h1>

    <div id="firebaseui-auth-container"></div>
    <div id="loader">Loading...</div>

    <!-- Load the firebase app library -->
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-analytics.js"></script>

    <!-- Load the firebase auth ui -->
    <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
    <script>
      var app = firebase.initializeApp({
        apiKey: 'AIzaSyCiG1NWj4_fIo8B22HW2IGc-9BjJFgb6bU',
        authDomain: 'codeblocks-991a2.firebaseapp.com',
        projectId: 'codeblocks-991a2',
        storageBucket: 'codeblocks-991a2.appspot.com',
        messagingSenderId: '937268795675',
        appId: '1:937268795675:web:8f0abdec6267abe2f4dbbe',
        measurementId: 'G-S9928XTV4P'
      })

      // Initialize the FirebaseUI Widget using Firebase.
      var ui = new firebaseui.auth.AuthUI(firebase.auth())

      var data = null
      // Hold a reference to the anonymous current user.
      var anonymousUser = firebase.auth().currentUser

      var uiConfig = {
        // Will use popup for IDP Providers sign-in flow instead of the default, redirect.
        signInFlow: 'popup',
        signInSuccessUrl: false,
        signInOptions: [
          // Leave the lines as is for the providers you want to offer your users.
          firebase.auth.GoogleAuthProvider.PROVIDER_ID,
          firebase.auth.EmailAuthProvider.PROVIDER_ID
          // firebase.auth.PhoneAuthProvider.PROVIDER_ID,
          // firebase.auth.FacebookAuthProvider.PROVIDER_ID,
          // firebase.auth.TwitterAuthProvider.PROVIDER_ID,
          // firebase.auth.GithubAuthProvider.PROVIDER_ID,
        ],
        // Terms of service url.
        tosUrl: '<your-tos-url>',
        // Privacy policy url.
        privacyPolicyUrl: '<your-privacy-policy-url>',
        callbacks: {
          signInSuccessWithAuthResult: function (authResult, redirectUrl) {
            // User successfully signed in.
            // Return type determines whether we continue the redirect automatically
            // or whether we leave that to developer to handle.
            console.log('authResult', authResult)
            return false
          },
          // signInFailure callback must be provided to handle merge conflicts which
          // occur when an existing credential is linked to an anonymous user.
          signInFailure: function (error) {
            // For merge conflicts, the error.code will be
            // 'firebaseui/anonymous-upgrade-merge-conflict'.
            if (error.code != 'firebaseui/anonymous-upgrade-merge-conflict') {
              return Promise.resolve()
            }
            // The credential the user tried to sign in with.
            var cred = error.credential
            // Copy data from anonymous user to permanent user and delete anonymous
            // user.
            // ...
            // Finish sign-in after data is copied.
            return firebase.auth().signInWithCredential(cred)
          },
          uiShown: function () {
            // The widget is rendered.
            // Hide the loader.
            document.getElementById('loader').style.display = 'none'
          }
        }
      }

      // The start method will wait until the DOM is loaded.
      ui.start('#firebaseui-auth-container', uiConfig)

      // Handle auth events
      app.auth().onAuthStateChanged((user) => {
        if (user) {
          console.log('user received', user)
          localStorage.setItem(
            'user',
            JSON.stringify({
              uid: user.uid,
              displayName: user.displayName,
              photoURL: user.photoURL
            })
          )
          // Get the authentication token
          firebase
            .auth(app)
            .currentUser.getIdToken()
            .then((token) => {
              localStorage.setItem('token', token)
              console.log('session saved')
            })
        } else {
          console.log('logged out')
        }
      })
    </script>
  </body>
</html>
