.post {
  .sep {
    display: inline-block;
    margin: 0 0.5rem;
  }

  p {
    margin-left: 0.25rem;
  }

  .credits {
    color: white;

    .avatar-container {
      margin-right: 0.75rem;
    }
  }

  #code-window {
    margin: 0;
  }
}
