.post-list {
  gap: 2rem;

  .post {
    padding: 0;

    @media (min-width: 768px) {
      max-width: 470px;
    }

    .post_actions {
      justify-content: space-around;
    }
  }
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .header {
    display: flex;

    a {
      color: var(--font-color);
    }
  }

  .avatar {
    width: 40px;
    height: 40px;
    max-width: 40px;
  }

  .post-meta {
    flex-direction: column;
    max-width: calc(100% - 48px);
  }

  .meta {
    display: block;
    font-size: 80%;
    line-height: 1;
    margin-bottom: 0.25rem;
    opacity: 0.9;
  }

  .title {
    font-size: 96%;
    letter-spacing: initial;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  .cover {
    background: var(--color-mediumGrey);
    background-size: cover;
    border-radius: 16px;
    display: flex;
    flex: 1;
    min-height: 270px;
    margin-top: 0.5rem;
    position: relative;
    transform: scale(1);
    transition: all 0.2s ease-out;
    filter: drop-shadow(0 20px 13px rgba(190 190 190 / 0));
    margin-left: -0.25rem;
    margin-right: -0.25rem;

    &:hover {
      transform: scale(1.03);
      filter: drop-shadow(0 20px 13px rgba(120, 120, 120, 0.2));
    }

    .image {
      border-radius: 12px;
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  .content p {
    word-break: break-word;
  }
}

.aside {
  width: 300px;
  display: block;

  section {
    display: block;
    width: 300px;
    border-radius: 1rem;
    padding-bottom: 0.5rem;
  }

  .post-languages {
    max-height: 25.5rem;
    overflow-y: auto;
  }

  .title {
    padding: 0.75rem 1rem;
    font-weight: 900;
  }

  a {
    display: block;
    font-size: 95%;
    line-height: 1.1;
    padding: 0.75rem 1rem;
    background-color: transparent;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }
  }
}
