.post {
  .sep {
    display: inline-block;
    margin: 0 0.5rem;
  }

  .byline {
    font-size: 80%;
    color: var(--color-mediumGrey);
  }

  .credits {
    color: white;

    .avatar-container {
      margin-right: 0.75rem;
    }
  }

  #code-window {
    margin: 1rem 0;
  }
}
