.post-list {
  gap: 2rem;

  .post {
    padding: 0;

    @media (min-width: 768px) {
      max-width: 470px;
    }
  }
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  .header {
    display: flex;
    align-items: center;

    a {
      color: var(--font-color);
    }

    .title {
      font-size: 96%;
      letter-spacing: initial;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .avatar {
    width: 40px;
    height: 40px;
    max-width: 40px;
  }

  .meta {
    display: block;
    font-size: 80%;
    line-height: 1.5;
    opacity: 0.9;
  }

  .cover {
    background: var(--color-mediumGrey);
    background-size: cover;
    border-radius: 16px;
    display: flex;
    flex: 1;
    min-height: 270px;
    margin-top: 0.5rem;
    position: relative;
    transform: scale(1);
    transition: all 0.2s ease-out;
    filter: drop-shadow(0 20px 13px rgba(190 190 190 / 0));
    margin-left: -0.25rem;
    margin-right: -0.25rem;

    &:hover {
      transform: scale(1.03);
      filter: drop-shadow(0 20px 13px rgba(120, 120, 120, 0.2));
    }

    .image {
      border-radius: 12px;
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  .content p {
    word-break: break-word;
  }
}
